@import url("./sobre.css");
@import url("./invitacion.css");

/* RESET TOTAL (quita bordes blancos y scroll raro) */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden; /* ✅ quita el scroll en la pantalla del sobre */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
